.container {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.display-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-header {
  margin-left: 30px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  height: 100vh;
  color: brown;
  background-color: #ffdf9d;
}
